@model IEnumerable<ManaMart.Models.CardModels.CardListItem>

@{
    ViewBag.Title = "Index";
}


<div class="row padding">

    <div class="col-sm-12 col-md-6 col-md-offset-2 text-center">

        <h2>Item List</h2>
        <h3>Which card would you like to select?</h3>


        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CardId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CardName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardName)
                    </td>
                    <td>
                       
                        @Html.ActionLink("Edit", "Edit", new { id = item.CardId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CardId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CardId })
                    </td>
                </tr>
            }

        </table>
