@model IEnumerable<ManaMart.Models.OrderModels.OrderListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Your Orders</h2>
<h3>Which Order would you like to view</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.ActionLink("Select", "OrderView", new { id = item.OrderId }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
        </td>
    </tr>
}

</table>
